/* ---------------[  Reset  ]--------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

p, ol, ul {
  list-style: none; }

p, img {
  padding: 0;
  margin: 0; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

/* ---------------[  Global  ]--------------- */
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 12px;
  background: #000;
  color: #111; }

a, img {
  border: none; }

em {
  padding: 2px 5px;
  background: #f9fc02;
  font-style: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #444; }

header, footer, aside, nav, section, article {
  display: block; }

/* ---------------[  Navigation  ]--------------- */
nav ul {
  position: fixed;
  z-index: 999;
  top: 30px;
  left: 50%;
  list-style: none;
  padding: 0 10px;
  margin: 0;
  margin-left: -218px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #ee0d00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee0d00), to(#ac1e12));
  background: -moz-linear-gradient(top, #ee0d00, #ac1e12); }
nav li {
  float: left; }
  nav li a {
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    text-shadow: -1px -1px 0 #ad0a00;
    font-size: 14px;
    padding: 10px 30px;
    display: block;
    float: left;
    border-right: 1px solid #ee0d00; }
  nav li a:hover, nav li .on {
    background: #ee0d00; }
nav .last {
  border-right: none; }

/* ---------------[  Generic Panel  ]--------------- */
.panel {
  float: left;
  width: 100%; }
  .panel .content {
    width: 1128px;
    margin: 0 auto;
    /*background:url(../images/ui-header-tape.png) 0 -35px no-repeat;*/
    min-height: 100px; }
    .panel .content p, .panel .content ul {
      line-height: 24px;
      font-size: 15px; }
    .panel .content h2, .panel .content p {
      margin: 0 0 15px 0;
      padding: 0; }
  .panel a {
    color: #ed0e00;
    text-decoration: none; }
  .panel a:hover {
    text-decoration: underline; }

/* ---------------[  Header  ]--------------- */
header {
  min-height: 750px;
  height: auto !important;
  height: 750px;
  background: url(../images/ui-header-bg-sharp.png) 0 0 repeat-x #eeeeee;
  padding: 0;
  margin: 0; }
  header .content {
    /*background:url(../images/ui-header-tape.png) 0 -35px no-repeat;*/ }
  header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    text-align: center;
    color: #111;
    padding: 100px 0 0 0;
    margin: 0;
    text-shadow: 1px 1px 0 #fff; }
    header h1 span {
      color: #999; }
  header img {
    margin: -15px 0 0 -40px; }

/* ---------------[  About Panel  ]--------------- */
#about {
  background: #fff;
  padding-bottom: 20px;
  margin-top: -17px; }
  #about .header {
    width: 100%;
    height: 50px;
    background: #ebece9;
    margin-bottom: 20px;
    border-bottom: 1px solid #d6d6d6; }
  #about .content {
    position: relative;
    padding-top: 20px; }
    #about .content p {
      line-height: 28px; }
  #about h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    float: left;
    color: #222;
    margin: 38px 0 0 30px; }
  #about img {
    position: absolute;
    top: 140px;
    left: 0; }
  #about .abstract {
    font-family: sans-serif;
    width: 540px;
    float: right;
    padding: 0 0 20px 40px;
    margin-top: 45px;
    color: #555; }

/* ---------------[  Work Panel  ]--------------- */
#work {
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e6e6e6));
  background: -moz-linear-gradient(top, #f6f6f6, #e6e6e6); }
  #work .header {
    width: 100%;
    height: 47px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6; }
  #work .content {
    padding: 55px 0 50px 0; }
  #work h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-bottom: 35px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff; }
  #work #articles {
    width: 1153px;
    margin-left: 0;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6d6d6; }
  #work article {
    width: 204px;
    height: 210px;
    float: left;
    margin: 0 25px 25px 0;
    position: relative; }
    #work article .view {
      width: 144px;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
      color: #ddd;
      text-decoration: none;
      padding: 70px 0 0 60px; }
    #work article .view:hover {
      background: rgba(0, 0, 0, 0.7);
      text-indent: 0; }
    #work article img {
      background: #d6d6d6;
      width: 204px;
      height: 150px; }
    #work article h3 {
      font-family: sans-serif;
      font-size: 13px;
      margin-top: 15px;
      cursor: pointer;
      font-weight: 500;
      text-shadow: 1px 1px 0 #fff;
      color: #666;
      line-height: 16px;
      float: left; }
      #work article h3 a {
        font-size: 12px; }
  #work .icons {
    float: right;
    width: 110px;
    margin: 19px 0 0 0; }
  #work .icon {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    height: 9px;
    width: 9px;
    background: #ed0e00;
    float: right;
    margin-left: 6px; }
  #work .last {
    margin-right: 0; }
  #work ul {
    margin: 0;
    padding: 35px 0 0 0;
    border-top: 1px solid #fff;
    text-align: center;
    clear: both; }
    #work ul li {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      -moz-box-shadow: 1px 1px 3px #ccc;
      -webkit-box-shadow: 1px 1px 3px #ccc;
      box-shadow: 1px 1px 3px #ccc;
      padding: 7px 14px 7px 16px;
      display: inline;
      margin-right: 6px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      font-size: 11px; }
    #work ul .last {
      margin-left: none; }
    #work ul .title {
      color: #444;
      text-shadow: 1px 1px 0 #e6e6e6;
      background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#aaaaaa));
      background: -moz-linear-gradient(top, #cccccc, #aaaaaa); }
  #work .ruby {
    background: #ef2716;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef2716), to(#ac1e12));
    background: -moz-linear-gradient(top, #ef2716, #ac1e12);
    text-shadow: -1px -1px 0 #8f190f; }
  #work .php {
    background: #5cc052;
    background: -webkit-gradient(linear, left top, left bottom, from(#5cc052), to(#448d3c));
    background: -moz-linear-gradient(top, #5cc052, #448d3c);
    text-shadow: -1px -1px 0 #397632; }
  #work .asp {
    background: #f5a804;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5a804), to(#c38603));
    background: -moz-linear-gradient(top, #f5a804, #c38603);
    text-shadow: -1px -1px 0 #a97403; }
  #work .css {
    background: #5accec;
    background: -webkit-gradient(linear, left top, left bottom, from(#5accec), to(#48a2bc));
    background: -moz-linear-gradient(top, #5accec, #48a2bc);
    text-shadow: -1px -1px 0 #3c8aa0; }
  #work .html {
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
    background: -moz-linear-gradient(top, #333333, #111111);
    text-shadow: -1px -1px 0 black; }
  #work .jquery {
    background: #646464;
    background: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#444444));
    background: -moz-linear-gradient(top, #646464, #444444);
    text-shadow: -1px -1px 0 #222222; }
  #work .mootools {
    background: #5f95a4;
    background: -webkit-gradient(linear, left top, left bottom, from(#5f95a4), to(#426771));
    background: -moz-linear-gradient(top, #5f95a4, #426771);
    text-shadow: -1px -1px 0 #314c54; }
  #work .haml {
    background: #82e03d;
    background: -webkit-gradient(linear, left top, left bottom, from(#82e03d), to(#65ad2f));
    background: -moz-linear-gradient(top, #82e03d, #65ad2f);
    text-shadow: -1px -1px 0 #508926; }
  #work .sass {
    background: #eb56cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#eb56cd), to(#b1419b));
    background: -moz-linear-gradient(top, #eb56cd, #b1419b);
    text-shadow: -1px -1px 0 #92357f; }

/* ---------------[  Contact Panel  ]--------------- */
#contact_header {
  width: 100%;
  height: 100px;
  background: #e6e6e6;
  clear: both; }

#contact {
  padding: 60px 0 50px 0;
  min-height: 200px;
  background: #161616;
  clear: both;
  color: #eee;
  font-weight: bold;
  font-size: 14px; }
  #contact form {
    width: 550px;
    float: right;
    padding: 0 0 20px 40px;
    margin-top: 15px; }
  #contact label, #contact input, #contact textarea {
    margin-bottom: 12px; }
  #contact label {
    width: 120px;
    float: left;
    display: block; }
  #contact input[type="text"], #contact textarea {
    padding: 8px 10px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    float: left;
    width: 400px; }
  #contact textarea {
    width: 520px; }
  #contact input[type="submit"] {
    clear: both; }
  #contact br {
    clear: both; }
  #contact h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    float: left; }

/* ---------------[  Footer  ]--------------- */
footer {
  min-height: 450px;
  padding: 10px 0;
  text-align: center;
  clear: both;
  color: #333;
  font-weight: normal; }
  footer .content {
    padding: 20px 0; }

/* ---------------[  Shadowbox  ]--------------- */
#sb-title-inner, #sb-info-inner, #sb-loading-inner, div.sb-message {
  font-family: "HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  color: #fff; }

#sb-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
  visibility: hidden;
  display: none; }

#sb-overlay {
  position: relative;
  height: 100%;
  width: 100%; }

#sb-wrapper {
  position: absolute;
  visibility: hidden;
  width: 100px; }

#sb-wrapper-inner {
  position: relative;
  border: 1px solid #303030;
  overflow: hidden;
  height: 100px; }

#sb-body {
  position: relative;
  height: 100%; }

#sb-body-inner {
  position: absolute;
  height: 100%;
  width: 100%; }

#sb-player.html {
  height: 100%;
  overflow: auto; }

#sb-body img {
  border: none; }

#sb-loading {
  position: relative;
  height: 100%; }

#sb-loading-inner {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  width: 100%;
  text-align: center; }

#sb-loading-inner span {
  background: url(/images/shadowbox/loading.gif) no-repeat;
  padding-left: 34px;
  display: inline-block; }

#sb-body, #sb-loading {
  background-color: #060606; }

#sb-title, #sb-info {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }

#sb-title, #sb-title-inner {
  height: 26px;
  line-height: 26px; }

#sb-title-inner {
  font-size: 16px; }

#sb-info, #sb-info-inner {
  height: 20px;
  line-height: 20px; }

#sb-info-inner {
  font-size: 12px; }

#sb-nav {
  float: right;
  height: 16px;
  padding: 2px 0;
  width: 45%; }

#sb-nav a {
  display: block;
  float: right;
  height: 16px;
  width: 16px;
  margin-left: 3px;
  cursor: pointer;
  background-repeat: no-repeat; }

#sb-nav-close {
  background-image: url(/images/shadowbox/close.png); }

#sb-nav-next {
  background-image: url(/images/shadowbox/next.png); }

#sb-nav-previous {
  background-image: url(/images/shadowbox/previous.png); }

#sb-nav-play {
  background-image: url(/images/shadowbox/play.png); }

#sb-nav-pause {
  background-image: url(/images/shadowbox/pause.png); }

#sb-counter {
  float: left;
  width: 45%; }

#sb-counter a {
  padding: 0 4px 0 0;
  text-decoration: none;
  cursor: pointer;
  color: #fff; }

#sb-counter a.sb-counter-current {
  text-decoration: underline; }

div.sb-message {
  font-size: 12px;
  padding: 10px;
  text-align: center; }

div.sb-message a:link, div.sb-message a:visited {
  color: #fff;
  text-decoration: underline; }
