%nav
  %ul#navigation.interior
    %li
      %a{:href => '/'} Home
    %li
      %a{:href => '/case_studies'} Case Studies
    %li
      %a{:class => 'last', :href => '#contact_header'} Contact Me
%header.panel.interior
%section#work.panel.interior
  .header
  .content.interior
    %h2= @case_study.name
    .case_study= @case_study.content.html_safe
    